.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e3e4;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1000;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid #dddddd;
  border-top-color: #1714ac;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
